.about {
  padding-top: 35px;
  padding-bottom: 27px;
  background: #fafafa;
}

.about__wrapper {
  margin: 0 auto;
  width: 1000px;
}

.about__title {
  padding-bottom: 26px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 26px;
  letter-spacing: 1.5px;
}

.about__description {
  font-size: 16px;
  line-height: 20px;
}

.about__list {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 34px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.about__list--item {
  color: #214e9b;
}

.about__list--item span{
  color: #000000;
}

.about__text {
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
}

.semibold-italic {
  font-family: "OpenSans-SemiBoldItalic", "Arial", sans-serif;
}

.about__text span {
  font-family: "OpenSans-SemiBold", "Arial", sans-serif;
}
